<div class="cuadro">
    <div class="card" style="text-align: center;">
        <h3>Log In</h3>
        <table>
            <tr>
                <th><label>Nombre Usuario</label></th>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre Usuario" size="20">
                    </div>
                </td>
            </tr>
            <tr>
                <th><label>Contraseña</label></th>
                <td>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" size="50">
                    </div>
                </td>
            </tr>
        </table>
        <div class="boton">
            <button type="button" class="btn btn-primary" (click)="validar()">Inrgesar</button>
        </div>
    </div>
</div>